{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Terms and Conditions | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block body %}
    
    <section class="section section1">
        <div class="container">
            <h1>Seamless Journeys, Unforgettable Memories.</h1>
            <p>Traveling used to be a complicated process, requiring endless paperwork, long queues, and last-minute surprises. But technology has transformed the way we explore the world. Now, booking flights is at your fingertips, allowing you to focus on the experience rather than the hassle.</p>
            <p>Despite advancements, travel can still be unpredictable. Unexpected delays, sudden itinerary changes, and last-minute adjustments often disrupt plans, leading to stress and inconvenience.</p>
            <p>We believe travel should be effortless. Our platform is designed to bridge the gap between travelers and real-time travel insights, ensuring you stay informed every step of the way. From booking to boarding, we streamline your journey with timely updates, expert recommendations, and seamless coordination.</p>
            <p>With our intuitive system, you can plan confidently, knowing your trip is backed by the latest technology and dedicated support. No more last-minute surprises—just smooth, stress-free travel.</p>
            <p>Our mission is to enhance your travel experience, allowing you to focus on creating lasting memories. We are here to redefine the way you explore the world, making every journey extraordinary.</p>
        </div>
    </section>
{% endblock %}
